.display-current-weather {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    display: grid;
    grid-template-columns: 200px auto 200px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

@media (max-width: 900px) {
    .display-current-weather {
        grid-template-columns: auto;
    }
}